@if (metaData(); as metaData) {
  <p-card>
    <div class="flex gap-1 mt-1">
      Πάροχος πληροφοριών:
      <p-tag severity="info" [rounded]="true">
        <a href="https://data.gov.gr/datasets/minedu_schools" pButton target="_blank" rel="noopener noreferrer">
          <span pButtonLabel>{{ metaData.provider.name }}</span>
        </a>
      </p-tag>
    </div>

    <ng-template #footer>
      @if (lastUpdate(); as lastUpdate) {
        Τελευταία ενημέρωση: {{ lastUpdate }}
      }
    </ng-template>
  </p-card>
}
