<div class="flex flex-col gap-3">
  <p-card>
    <p-stepper [value]="activeStep()">
      <p-step-item [value]="1">
        <p-step>Περιφερειακή Ενότητα</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col">
              <p-select
                placeholder="Επιλέξτε Περιφερειακή Ενότητα..."
                [filter]="true"
                [options]="regionalUnitOptions()"
                [ngModel]="filters().regionalUnit"
                (ngModelChange)="setRegional($event)"
              />
            </div>
            <div class="py-6">
              <p-button
                label="Next"
                [disabled]="!filters().regionalUnit"
                (onClick)="goNext()"
              />
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>
      <p-step-item [value]="2">
        <p-step>Δημοτική Ενότητα</p-step>
        <p-step-panel>
          <ng-template #content let-activateCallback="activateCallback">
            <div class="flex flex-col">
              <p-multiSelect
                placeholder="Επιλέξτε Δημοτική Ενότητα..."
                class="w-full"
                display="chip"
                [filter]="true"
                [showClear]="true"
                [disabled]="!filters().regionalUnit"
                [options]="municipalUnitOptions()"
                [ngModel]="filters().municipalUnits"
                (ngModelChange)="setMunicipals($event)"
              ></p-multiSelect>
            </div>
            <div class="py-6">
              <p-button severity="secondary" class="mr-2" (click)="goBack()">Πίσω</p-button>
            </div>
          </ng-template>
        </p-step-panel>
      </p-step-item>
    </p-stepper>
  </p-card>
  
  @if (filters().regionalUnit; as selectedRegionalUnit) {
    <p-card header="Ενεργά φίλτρα">
      <div class="flex flex-col gap-2">
        <span class="text-sm">
          Περιφ. Ενότητα:
          <p-chip
            class="ml-2"
            [label]="selectedRegionalUnit"
            [removable]="true"
            (onRemove)="removeRegionalUnit()"
          />
        </span>

        @if (filters().municipalUnits.length > 0) {
          <span class="text-sm flex flex-wrap gap-2">
            Δημοτ. Ενότητα:
            @for (item of filters().municipalUnits; track item) {
              <p-chip [label]="item" [removable]="true" (onRemove)="removeMunicipalUnit(item)" />
            }
          </span>
        }
      </div>

      <ng-template #footer>
        <div class="flex justify-end">
          <p-button (click)="clearStepperFilters()">Καραθαρισμός</p-button>
        </div>
      </ng-template>
    </p-card>
  }
</div>
