<p-card class="h-full">
  <p-stepper [value]="activeStep()">
    <p-step-item [value]="1">
      <p-step>Περιφερειακή Ενότητα</p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <p-select
            placeholder="Επιλέξτε Περιφερειακή Ενότητα..."
            appendTo="body"
            fluid
            class="whitespace-nowrap overflow-hidden text-ellipsis max-w-100"
            [showClear]="true"
            [filter]="true"
            [options]="regionalUnitOptions()"
            [(ngModel)]="regionalUnit"
          />
          <div class="py-6">
            <p-button
              label="Next"
              [disabled]="!filters().regionalUnit"
              (onClick)="goNext()"
            />
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>
    <p-step-item [value]="2">
      <p-step>Δημοτική Ενότητα</p-step>
      <p-step-panel>
        <ng-template #content let-activateCallback="activateCallback">
          <p-multiSelect
            placeholder="Επιλέξτε Δημοτική Ενότητα..."
            display="chip"
            appendTo="body"
            fluid
            [filter]="true"
            [showClear]="true"
            [disabled]="!filters().regionalUnit"
            [options]="municipalUnitOptions()"
            [(ngModel)]="municipalUnits"
          />
          <div class="py-6">
            <p-button severity="secondary" class="mr-2" (click)="goBack()">Πίσω</p-button>
          </div>
        </ng-template>
      </p-step-panel>
    </p-step-item>
  </p-stepper>
</p-card>
